@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

html{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  background-color: lightgrey;
  margin: 0;
}
#modal{
  display: none;
  background-color: rgba(0,0,0,.5);
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
}
.modal-box{
  border-radius: 5px;
  background:#fff;
  width: 90%;
  height: 90%;
  position:absolute;
  top: 1%;
  left: 50%;
  margin-left: -45%;
}
.box-conteudo{
  position: relative;
	height: 100%;
  overflow: hidden;
  padding-bottom: 75%;
}
iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
}
.fechar{
  padding: .2rem .7rem;
  border: 1px solid #fff;
  border-radius: .5rem;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #1709f8;
}
.fechar:hover{
  background-color: #fff;
  color: red;
  border-color: red;
}
.container{
  background-image: url("https://vignette.wikia.nocookie.net/marvel/images/3/30/Universo_Marvel.png/revision/latest?cb=20180130223827&path-prefix=pt-br");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: .5rem;
}
main{
  grid-column: 2/3;
  background: #fff;
  padding: 1rem;
  text-align: center;
  border: 5px;
  border-radius: .5rem;
  box-shadow: 1px 1px 2px 1px #0C0A0ACC;
}
#mais{
  cursor: pointer;
  box-shadow: none;
  margin: 5px;
  padding: 0 0 4px 0;
  width:38px;
  height:38px;
  display:inline;
  border-radius:50%;
  background-color:#0000ff;
  float: left;
  position:relative;
  color:#fff;
  font-size:1.5rem;
}
img{
  width: 100%;
  border-radius: .5rem;
  box-shadow: 1px 1px .5px 1px #0C0A0ACC;
}
main h3{
  box-shadow: 1px 1px 1px 1px #0C0A0ACC;
  font-weight: 700;
  padding: .7rem;
  background-color: #bec1e480;
  color: #0C0A0ACC;
  border: .5rem;
  text-transform: uppercase;
  border-radius: .5rem;
  margin: .5rem 0;
}
button{
  grid-column: 2/3;
  margin: 0;
  border-radius: .5rem;
  background-color: blue;
  border: none;
  padding: .5rem;
  color: #fff;
  font-size: 1rem;
  box-shadow: 1px 1px 2px 1px #0C0A0ACC;
  text-transform: uppercase;
}
@media only screen and (min-width:560px) and (max-width:960px) {

  .container{
    display: grid;
    grid-template-columns: 25% 1fr 25%;
  }
  .modal-box{
    height: 95%;
    top: 1%;
  }
  .fechar{
    top: 20px;
    bottom: 524px;
  }
}
@media only screen and (max-width:559px) {

  .container{
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }
  main{
    grid-column: 1/2;
  }
  main h3{
    font-size: 1rem;
    padding: .7rem;
  }
  button{
    font-size: 1rem;
    padding: .5rem;
    grid-column: 1/2;
  }
  .modal-box{
    margin-top: -68%;
    width: 98%;
    height: 98%;
    top: 46%;
    left: 46%;
  }
}
